@import "tailwindcss";
@layer base {
  :root {
    --color-bg: #ffffff;
    --color-text: #111827;
    --color-primary: #06b6d4;
    --color-primary-dark: #0e7490;
  }

  html.dark {
    --color-bg: #0f172a;
    --color-text: #f9fafb;
    --color-primary: #22d3ee;
    --color-primary-dark: #0891b2;
  }

  html {
    font-family: "Poppins", sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    transition:
      background-color 0.3s,
      color 0.3s;
  }
}
